body {
  background-color: black;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Ranchers', cursive; }
  body .title {
    text-align: left;
    float: left;
    padding: 10px; }
  body #navbar {
    overflow: hidden; }
  body #navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border: 3px solid red;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
  body .content {
    padding: 16px; }
  body #currentPage {
    background-color: red; }
  body header {
    color: red;
    background-color: black;
    min-height: 100px;
    text-align: center;
    margin-top: 20px; }
  body footer {
    color: red;
    background-color: black;
    text-align: right;
    display: none; }
  body .footer-visible {
    display: block; }
  body h1 {
    color: red; }
  body .gif-container {
    background-color: #484848; }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center; }

.flex-form {
  display: flex;
  text-align: left;
  justify-content: center; }

.flex-form > div {
  margin: 20px; }

.flex-container > div {
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px; }

.flex-form > div > button {
  margin-top: 31px; }

.flex-container > div > img {
  height: 200px;
  width: 200px; }

.flex-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center; }

.flex-title > div#page-title {
  width: 50%; }

.flex-title > div#navbar {
  width: 50%;
  justify-content: flex-end; }

.blueBorder {
  border: 3px solid blue; }

@media only screen and (max-width: 320px) {
  .flex-title {
    width: 100%;
    justify-content: center;
    text-align: center; }
  .title {
    width: 100%;
    float: right;
    text-align: center; }
  .flex-title > div#navbar {
    width: 100%;
    justify-content: center; }
  .flex-title > div#navbar > a {
    width: 100%;
    text-align: center; }
  header {
    display: none; }
  .flex-form {
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%; }
  .flex-form > div {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    width: 50%; }
  .flex-form > div > button {
    margin-top: 0px; }
  .flex-container > div {
    width: 100%;
    margin: 10px;
    justify-content: center;
    text-align: center;
    line-height: 75px;
    font-size: 30px; }
  footer {
    margin-right: auto;
    margin-left: auto; }
  footer > h1 {
    text-align: center; } }
