.title {
  text-align: left;
  float: left; }

#navbar {
  overflow: hidden;
  background-color: #1E2330; }

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

.content {
  padding: 16px; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .content {
  padding-top: 60px; }

#currentPage {
  background-color: red; }

body {
  background-color: black;
  color: white;
  margin-left: 40px;
  margin-right: 40px; }
  body header {
    color: red;
    background-color: black;
    min-height: 100px;
    text-align: center; }
  body footer {
    color: red;
    background-color: black;
    text-align: right;
    display: none; }
  body .footer-visible {
    display: block; }
  body h1 {
    color: red; }
  body .gif-container {
    background-color: #A9A9A9; }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center; }

.flex-container > div {
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px; }

.flex-container > div > img {
  height: 200px;
  width: 200px; }
